Config/Config.json
Documentation/AuditLog.csv
.local/
.settings/
.objects/
*.nupkg
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
################################################################################
# End of UiPath Studio common ignores
################################################################################
